<table class="building">
    <tr ng-repeat="floorState in player.floorState | orderBy:'-floor'">
        <td><img src="img/man.png" alt=""/></td>
        <td class='people'>
            {{ floorState.waitingUsers }}
            <i class="icon-chevron-up" ng-show="floorState.up"></i>
            <i class="icon-chevron-down" ng-show="floorState.down"></i>
        </td>
        <td class="elevator" ng-class="{'elevator-close': !player.doorIsOpen, 'elevator-at-floor': floorState.floor == player.elevatorAtFloor}">
            <span ng-show="floorState.floor == player.elevatorAtFloor">{{player.peopleInTheElevator}}</span>
            <i class="icon-star-empty" ng-show="floorState.target"></i>
        </td>
    </tr>
</table>
