<div ng-hide="loggedIn" class="jumbotron">
    <h1>Code Elevator</h1>

    <h2>From the ground to the highest level</h2>
    <img src="img/elevator.jpg" class="img-rounded">
    <hr/>
    <form name="form" novalidate>
        <input ng-model="player.pseudo" type="text" placeholder="Pseudo" required/>
        <input ng-model="player.email" type="email" placeholder="Email" required
               title="only used to display your gravatar"/>
        <div class="input-prepend">
            <span class="add-on">http://</span>
            <input class="span2" ng-model="player.serverURL" type="text" placeholder="Server URL" required>
        </div>

        <div class="control-group">
            <input type="submit" class="btn btn-large btn-success" ng-click="login()" ng-disabled="!form.$valid"
                   value="I want to participate"/>
        </div>
    </form>
    <div ng-show="message" class="alert alert-error">{{message}}</div>
</div>

<div ng-show="loggedIn" class="jumbotron">

    <div class="well" style="vertical-align: middle;">
        <gravatar-image data-email="player.email" data-size="120" data-rating="pg" data-default="404"
                        data-secure="true"></gravatar-image>
        <h3 style="text-align: center;">{{player.pseudo}}</h3>
        <h5 style="text-align: center;">{{playerInfo.score}} points</h5>
        <building player="playerInfo"></building>
        <div ng-show="playerInfo.lastErrorMessage" class="alert alert-error">
            <strong>Last error:</strong> {{playerInfo.lastErrorMessage}}
        </div>
    </div>

    <div style="vertical-align: middle;">
        <button class="btn btn-large btn-warning" ng-click="disconnect()">disconnect</button>
    </div>
</div>