<div class="container-fluid">
    <div class="well" style="margin: 5px; display: inline-block" ng-repeat="player in players | orderBy:'score':true">
        <gravatar-image data-email="player.email" data-size="120" data-rating="pg" data-default="http://www.gravatar.com/avatar/" data-secure="true"></gravatar-image>
        <h3 style="text-align: center;">{{player.pseudo}}</h3>
        <h5 style="text-align: center;">{{player.score}} points</h5>
        <building player="player"></building>
    </div>

</div>
