body {
    margin-top: 60px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}